:root {
    /* GREEN, BLUE */
    --jade: rgb(105, 198, 155);
    --jade-80: rgb(111, 180, 148);
    --light-blue: rgb(50, 64, 82);
    --moon-evening: rgb(102, 122, 147);
    /*RED*/
    --dead-salmon: rgb(198, 132, 105);
    --dead-salmon-80: rgba(189, 131, 108);
    --orange: rgb(238, 208, 90);
    /* BLACK, GREY, WHITE */
    --black: rgb(0, 0, 0);
    --grey-80: rgba(124, 141, 162, 0.8);
    --grey: rgb(124, 141, 162);
    --white: rgb(255, 255, 255);
    --white-80: rgba(239, 239, 239);
}