* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.1rem;
    background-color: var(--light-blue);
}

.container {
    background-color: var(--white);
    padding: 0;
    height: 100%;
}

.title-navbar {
    z-index: 999999;
    background-color: var(--light-blue);
    height: 6.3rem;

}

.title-navbar p {
    color: var(--orange);
    font-size: 3.1rem;
    font-family: 'Molle', cursive;
    text-shadow: 0px 2px 10px var(--black);
    letter-spacing: 2px;
}

button:focus {
    outline: none;
}

.white-button, 
.red-button,
.green-button {
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
    background-color: var(--white-80);
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 1.6rem;
    box-shadow: 0px 0px 5px var(--black);  
    transition: 0.5s;
    line-height: 0.9;
}

.red-button {
    background-color: var(--dead-salmon-80);
}

.green-button {
    background-color: var(--jade-80);
}

.white-button:hover {
    background-color: var(--white);
}

.red-button:hover {
    background-color: var(--dead-salmon);
}

.green-button:hover {
    background-color: var(--jade);
}

@keyframes clickMe {
    from {
        box-shadow: 0px 0px 10px var(--black);
        background-color: var(--dead-salmon);
    };
    to {
        box-shadow: 0px 0px 50px var(--black);
        background-color: var(--dead-salmon-80);
    };
}

.hamburger {
    width: 60px;
    height: auto;
    padding: 0rem 0.3rem 0rem 0.3rem;
    background-color: var(--white-80);
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--black);  
    transform: translate(1rem, -0.4rem);
    background-color: var(--orange);
    opacity: 0.9;
}

.hamburger:hover {
    background-color: var(--orange);
    opacity: 1;
}

.collapse-menu {
    background-color: var(--light-blue);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: flex-end;
    padding: 0.5rem;
}

form {
    background-color: var(--light-blue);
}

.menu {
    background-color: var(--white);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bottom-navbar {
    height: 3rem;
    width: 100%;
    background-color: var(--light-blue);
    font-size: 1rem;
    color: var(--orange);
    text-shadow: 0px 0px 4px var(--black);;
    justify-content: center;
    font-family: 'Molle', cursive;
    text-shadow: 0px 0px 4px var(--black);
}

.bottom-navbar a {
    text-decoration: none;
    color: var(--orange);
    text-shadow: 0px 0px 4px var(--black);;
}

.small-title {
    height: 4.5rem;
    width: 100%;
    font-size: 2.3rem;
    justify-content: center;
    background-color: var(--moon-evening);
    font-family: 'Patrick Hand SC', cursive;
    color: var(--white);
    text-shadow: -1px 0 var(--black), 0 1px var(--black), 1px 0 var(--black), 0 -1px var(--black);
}

.small-title-1 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.input-1 {
    padding: 1rem;
    padding-left: 1.5rem;
    border-bottom: 10px solid var(--light-blue);
}

.input-1 label {
    margin-left: 0.3rem;
}

.input-1 span {
    white-space: nowrap;
}

.week {
    margin-left: 1rem;
}

.very-small-title {
    height: 5rem;
    width: 100%;
    font-size: 1.7rem;
    justify-content: center;
    color: var(--white);
    background-color: var(--grey);
    font-family: 'Patrick Hand SC', cursive;
    text-shadow: -1px 0 var(--black), 0 1px var(--black), 1px 0 var(--black), 0 -1px var(--black);
    z-index: 9999;
    transition: 1s;
}

.second-title {
    border-top: 6px solid var(--light-blue);
}

.exercise-cell {
    min-height: 15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.exercise-description {
    text-align: justify;
}

.middle-row {
    min-height: 200px;
    width: 50vh;
}

.exercise-check {
    width: 5rem;
    height: 5rem;
    background-color: var(--grey);
    font-size: 2.5rem;
    border-radius: 5px;
    font-family: 'Patrick Hand SC', cursive;
    border: none;
    font-weight: bold;
    box-shadow: 0px 1px 4px var(--black);  
}
.exercise-check:hover {
    background-color: var(--grey-80);
    transition: 0.3s;
}

.exercise-container {
    border-bottom: 4px solid var(--light-blue);
    width: 100%;
}

.ready-button {
    height: 5rem;
    font-size: 3rem;
    background-color: var(--jade-80);
    border: none;
    opacity: 0.8;
    font-family: 'Patrick Hand SC', cursive;
}

.ready-button:hover {
    background-color: var(--jade);
    transition: 0.5s;
}

.sort-img {
    background-color: var(--white-80);
    padding: 0.2rem;
    border-radius: 2px;
    transition: 0.5s;
    box-shadow: 0px 0px 3px var(--black);  
    cursor: pointer;
}

.sort-img:hover {
    transition: 0.5s;
    background-color: var(--white);
}

.relative-box,
.relative-box-2 {
    position: relative;
    height: 5rem;
    transition: 1s;
}

.sort-text {
    top: -5rem;
    position: relative;
    z-index: 999;
    background-color: var(--light-grey);
    text-shadow: none;
    color: var(--black);
    font-size: 1.3rem;
    justify-content: space-evenly;
}

.sort-button {
    padding: 0 0.5rem 0.2rem 0.5rem;
    background-color: var(--white-80);
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 1.6rem;
    box-shadow: 0px 0px 2px var(--black);  
    transition: 0.5s;
    line-height: 0.9;
}

.sort-button:hover {
    background-color: var(--white);
}

.active-button {
    background-color: var(--jade-80);
}

.active-button:hover {
    background-color: var(--jade-80);
    cursor: default;
}

/* HOW IT WORK */
.how-it-work {
    border-radius: 0px 4px 4px 0px;
    right: -20.1rem;
    padding: 4px 4px 4px 0px;
    position: fixed;
    top: 20vh;;
    transition: transform 0.4s;
    width: 20rem;
    z-index: 99999;
}

.how-it-work:hover {
    transform: translateX(-19.8rem);
}

.how-it-work .box__content {
    background: var(--white);
    min-height: 27rem;
    font-size: 1.2rem;
    padding: 1rem;
    position: relative;
    box-shadow: 0px 0px 5px var(--black);  
    border-radius: 5px;
}

.how-it-work .box__title {
    background: var(--white);
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0.3rem;
    line-height: 1.8rem;
    position: absolute;
    left: -9rem;
    text-align: center;
    top: 12rem;
    transform: rotate(-90deg);
    width: 15.1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 3px solid var(--white);
    box-shadow: 0px 0px 5px var(--black);  
    font-family: 'Patrick Hand SC', cursive;
}

.box__description h3 {
    font-family: 'Molle', cursive;
    text-align: center;
    margin: 0;
}

.box__description h4 {
    text-align: center;
}

.box__description h5 {
    text-align: justify;
    line-height: 1.4;

}

.box__description div {
    text-align: center;
}

.box__description div button {
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
    background-color: var(--dead-salmon-80);
    border-radius: 5px;
    border: 1px solid var(--black);
    font-weight: bold;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 1.6rem;
    transition: 0.5s;
    line-height: 0.9;
}

.box__description div button:hover {
    background-color: var(--dead-salmon);
}

/* PDF */

.content-pdf, .new-page {
    display: none;
    min-width: 20cm;
    max-width: 20cm;
    min-height: 28.7cm;
    text-align: left;
}

.content-box-pdf {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.patient-name-pdf {
    font-size: 1.5rem;
    min-height: 2cm;
    width: 100%;
    justify-content: center;
    color: black;
    top: 0px;
}

.date-pdf-box, .frequency-pdf-box, .comments-pdf-box {
    font-size: 1.3rem;
    max-height: 1.571cm;
    width: 100%;
    justify-content: left;
    color: black;

}

.description {
    border-bottom: 2px solid var(--light-blue);
}

.date-pdf, .frequency-pdf, .comments-pdf {
    margin-left: 1rem;
    margin-right: 1rem;
}

.exercise-box-pdf {
    min-height: 7.175cm;
    max-height: 7.175cm;
    border-bottom: 2px solid var(--light-blue);
}

.exercise-pdf-column {
    min-width: 11cm;
    max-width: 11cm;
    margin-left: 1cm;
}

.exercise-title-pdf, .exercise-title {
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 0.2rem;
}

.exercise-title-pdf {
    min-height: 1.8cm;
    max-height: 1.8cm;
}

.exercise-description-pdf {
    min-height: 4cm;
    max-height: 4cm;
    font-size: 1rem;
    text-align: justify;
}

.tag-pdf {
    max-height: 0.5cm;
    min-height: 0.5cm;
    font-size: 0.8rem;
    text-align: center;
    background-color: var(--light-blue);
    color: var(--orange);
    font-family: 'Molle', cursive;
}

.tag-pdf-2 {
    padding-top: 0.05cm;
    font-size: 0.6rem;
}

/* MEDIA */

@media only screen
and (max-width: 991px) {
    .collapse-menu {
        transform: translate(0px, -1rem);
    }
}

@media only screen
and (max-width: 490px) {
    .title-navbar p {
        font-size: 2rem;
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen
and (min-width: 1139px) {
    .container {
        max-width: 1000px;
    }
}